*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Epilogue", "sans-serif";
  min-height: 100vh;
}
@media (min-width: 640px) and (max-width: 800px) {
  body {
    max-width: 600px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  body {
    max-width: 750px;
  }
}
@media (min-width: 1101px) {
  body {
    max-width: 100%;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.navigation__links,
.login-btn,
.register-btn {
  font-size: 1.6rem;
}

.main__heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}
@media screen and (min-width: 800px) {
  .main__heading {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1100px) {
  .main__heading {
    font-size: 8rem;
  }
}

.main-paragraph {
  font-size: 2rem;
  font-weight: 500;
}

.learn-more-btn {
  font-weight: 700;
  font-size: 1.8rem;
}

.navigation__links a:is(:hover, :focus-visible),
.navigation__links button:is(:hover, :focus-visible) {
  font-weight: 700;
}

.login-btn:is(:hover, :focus),
.register-btn:is(:hover, :focus) {
  font-weight: 700;
}

.wrapper {
  padding-inline: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .wrapper {
    padding-inline: 2rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .wrapper {
    padding-inline: 4rem;
    padding-top: 0;
  }
}

body {
  overflow-x: hidden;
}

#overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#overlay.active {
  display: block;
}
@media screen and (min-width: 800px) {
  #overlay.active {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .main__mobile-hero-image {
    display: none;
  }
}

.main__desktop-hero-image {
  display: none;
}
@media screen and (min-width: 1100px) {
  .main__desktop-hero-image {
    display: block;
  }
  .main__desktop-hero-image img {
    padding-left: 9rem;
    object-fit: cover;
  }
}

.main-layout {
  display: grid;
  padding-top: 4rem;
  gap: 4rem;
}
@media screen and (min-width: 1100px) {
  .main-layout {
    max-width: min(82%, 1200px);
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .main-layout {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .main-layout {
    gap: 5rem;
  }
}

.main__content {
  position: relative;
}

.main__content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 1100px) {
  .main__content-container {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .main__content-container {
    gap: 4.5rem;
  }
}
@media screen and (min-width: 800px) {
  .main__content-container {
    text-align: initial;
  }
}
@media screen and (min-width: 460px) {
  .main__content-container {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .main__content-container {
    margin-block: initial;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .main__content-container {
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1300px) {
  .main__content-container {
    padding-top: 11rem;
  }
}

@media screen and (min-width: 1300px) {
  .main__heading span::after {
    content: "\a";
    white-space: pre;
  }
}

.main-paragraph {
  color: hsl(0, 0%, 41%);
  margin-bottom: 2rem;
}
@media screen and (min-width: 1100px) {
  .main-paragraph {
    margin-bottom: 4.5rem;
  }
}

.learn-more-btn {
  width: -moz-fit-content;
  width: fit-content;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1100px) {
  .clients {
    justify-content: initial;
    gap: 3rem;
    position: absolute;
    bottom: 0;
  }
}

[class*=sr-only] {
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.features-btn,
.company-btn,
.login-btn,
.register-btn,
.learn-more-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.features-btn,
.company-btn {
  padding: 0;
}

.features-btn::after,
.company-btn::after {
  margin-left: 5px;
  content: url(../../images/icon-arrow-down.svg);
}

.features-btn.active::after,
.company-btn.active::after {
  content: url(../../images/icon-arrow-up.svg);
}

.login-btn,
.register-btn,
.learn-more-btn {
  padding: 10px 22px;
}

.learn-more-btn {
  padding: 12px 29px;
}

.register-btn,
.learn-more-btn {
  border: 2px solid hsl(0, 0%, 41%);
}

.register-btn {
  border-radius: 2rem;
}

.learn-more-btn {
  border-radius: 1.5rem;
}

.learn-more-btn {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
}
.learn-more-btn:is(:hover, :focus) {
  background-color: initial;
  color: initial;
}

.register-btn:is(:hover, :focus) {
  border-width: 3px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}
@media screen and (min-width: 800px) {
  .header {
    justify-content: initial;
    gap: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    gap: 7rem;
  }
}

.header__logo {
  max-width: 50px;
}
@media screen and (min-width: 800px) {
  .header__logo {
    max-width: 84px;
  }
}

@media screen and (min-width: 800px) {
  .header__navigation {
    width: 100%;
  }
}

.navigation {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 50vw;
  padding: 8rem 2rem;
  background-color: #fff;
  flex-direction: column;
  display: none;
}
@media screen and (min-width: 450px) {
  .navigation {
    width: 40vw;
  }
}
.navigation.active {
  display: flex;
}
@media screen and (min-width: 800px) {
  .navigation {
    padding: initial;
    position: static;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation__links {
  list-style-type: none;
  color: hsl(0, 0%, 8%);
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 800px) {
  .navigation__links {
    flex-direction: row;
  }
}
@media screen and (min-width: 1100px) {
  .navigation__links {
    gap: 4rem;
  }
}
@media screen and (min-width: 800px) {
  .navigation__links {
    margin-bottom: 0;
  }
}

.navigation__links > li {
  display: flex;
}
@media screen and (min-width: 800px) {
  .navigation__links > li {
    align-items: center;
  }
}

.navigation__links a {
  text-decoration: none;
  color: hsl(0, 0%, 8%);
}

.features,
.company-infos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.features-list,
.company-infos-list {
  list-style-type: none;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 12;
  display: none;
  padding: 2rem;
  padding-bottom: 0;
}
.features-list.active,
.company-infos-list.active {
  display: block;
}
@media screen and (min-width: 800px) {
  .features-list,
  .company-infos-list {
    position: absolute;
    top: 120%;
  }
}
@media screen and (min-width: 800px) {
  .features-list,
  .company-infos-list {
    padding-bottom: 2rem;
  }
}

.features-list {
  right: 0;
  width: 160px;
}

.company-infos-list {
  left: 0;
  width: 125px;
}

.features-list li a {
  display: block;
  width: auto;
}

.feature::before {
  margin-right: 10px;
}
.feature[data-icon=todo]::before {
  content: url("../../images/icon-todo.svg");
}
.feature[data-icon=reminder]::before {
  content: url("../../images/icon-reminders.svg");
}
.feature[data-icon=planning]::before {
  content: url("../../images/icon-planning.svg");
}
.feature[data-icon=calendar]::before {
  content: url("../../images/icon-calendar.svg");
}

.navigation__hamburger {
  background-color: transparent;
  border: 0;
  height: 40px;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.7s;
}
@media screen and (min-width: 800px) {
  .navigation__hamburger {
    display: none;
  }
}

.navigation__bar {
  border: 3px solid hsl(0, 0%, 8%);
  width: 40px;
}

.navigation__hamburger.active :nth-child(1) {
  transition: all 0.7s;
  transform: translateY(5px) rotate(45deg);
}

.navigation__hamburger.active :nth-child(2) {
  transition: all 0.7s;
  display: none;
}

.navigation__hamburger.active :nth-child(3) {
  transition: all 0.7s;
  transform: translateY(-5px) rotate(-45deg);
}

.auth-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .auth-buttons-container {
    gap: 2rem;
    flex-direction: row;
    width: initial;
  }
}
.auth-buttons-container button {
  display: block;
  width: 100%;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
