*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
@media (min-width: 640px) and (max-width: 800px) {
  body {
    max-width: 600px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  body {
    max-width: 750px;
  }
}
@media (min-width: 1101px) {
  body {
    max-width: 100%;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-family: "Epilogue", "sans-serif";
}

.navigation__links,
.login-btn,
.register-btn {
  font-size: 1.6rem;
}

.wrapper {
  padding: 2rem;
  padding-top: 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .wrapper {
    padding-inline: 2rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .wrapper {
    padding-inline: 4rem;
    padding-bottom: 2rem;
  }
}

[class*=sr-only] {
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.features-btn,
.company-btn,
.login-btn,
.register-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.features-btn,
.company-btn {
  padding: 0;
}

.features-btn::after,
.company-btn::after {
  margin-left: 5px;
  content: url(../../images/icon-arrow-down.svg);
}

.features-btn.active::after,
.company-btn.active::after {
  content: url(../../images/icon-arrow-up.svg);
}

.login-btn,
.register-btn {
  padding: 10px 22px;
}

.register-btn {
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .header {
    justify-content: initial;
    gap: 7rem;
  }
}

.header__logo {
  max-width: 50px;
}
@media screen and (min-width: 800px) {
  .header__logo {
    max-width: 84px;
  }
}

.header__navigation {
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
@media screen and (min-width: 800px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
  }
}

.navigation__links {
  list-style-type: none;
  color: hsl(0, 0%, 8%);
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .navigation__links {
    flex-direction: row;
    gap: 4rem;
  }
}

.navigation__links > li {
  display: flex;
  align-items: center;
}

.navigation__links a {
  text-decoration: none;
  color: hsl(0, 0%, 8%);
}

.company-info,
.features-list {
  display: none;
}

.company-info.active,
.features-list.active {
  display: block;
}

.feature::before {
  margin-right: 5px;
}
.feature[data-icon=todo]::before {
  content: url("../../images/icon-todo.svg");
}
.feature[data-icon=reminder]::before {
  content: url("../../images/icon-reminder.svg");
}
.feature[data-icon=planning]::before {
  content: url("../../images/icon-planning.svg");
}
.feature[data-icon=calendar]::before {
  content: url("../../images/icon-calendar.svg");
}

.auth-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 800px) {
  .auth-buttons-container {
    flex-direction: row;
  }
}

.navigation__hamburger {
  background-color: transparent;
  border: 0;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.7s;
}
@media screen and (min-width: 800px) {
  .navigation__hamburger {
    display: none;
  }
}

.navigation__bar {
  border: 3px solid hsl(0, 0%, 8%);
  width: 40px;
}

.navigation__hamburger.active :nth-child(1) {
  transition: all 0.7s;
  transform: translateY(5px) rotate(45deg);
}

.navigation__hamburger.active :nth-child(2) {
  transition: all 0.7s;
  display: none;
}

.navigation__hamburger.active :nth-child(3) {
  transition: all 0.7s;
  transform: translateY(-5px) rotate(-45deg);
}

/*# sourceMappingURL=main.css.map */
