.features-btn,
.company-btn,
.login-btn,
.register-btn,
.learn-more-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.features-btn,
.company-btn {
    padding: 0;
}
.features-btn::after,
.company-btn::after {
    margin-left: 5px;
    content: url(../../images/icon-arrow-down.svg);
}
.features-btn.active::after,
.company-btn.active::after {
    content: url(../../images/icon-arrow-up.svg);
}

.login-btn,
.register-btn,
.learn-more-btn {
    padding: 10px 22px;
}
.learn-more-btn {
    padding: 12px 29px;
}
.register-btn,
.learn-more-btn {
    border: 2px solid $medium-gray;
}
.register-btn {
    border-radius: 2rem;
}
.learn-more-btn {
    border-radius: 1.5rem;
}
.learn-more-btn {
    background-color: $almost-black;
    color: $almost-white;
    &:is(:hover, :focus) {
        background-color: initial;
        color: initial;
    }
}
.register-btn:is(:hover, :focus) {
    border-width: 3px;
}
