.navigation__links,
.login-btn,
.register-btn {
    font-size: 1.6rem;
}
.main__heading {
    font-size: 4rem;
    @media screen and (min-width: 800px) {
        font-size: 6rem;
    }
    @media screen and (min-width: 1100px) {
        font-size: 8rem;
    }
    font-weight: 700;
    line-height: 1;
}
.main-paragraph {
    font-size: 2rem;
    font-weight: 500;
}
.learn-more-btn {
    font-weight: 700;
    font-size: 1.8rem;
}
.navigation__links a,
.navigation__links button {
    &:is(:hover, :focus-visible) {
        font-weight: 700;
    }
}
.login-btn,
.register-btn {
    &:is(:hover, :focus) {
        font-weight: 700;
    }
}
