$column-gap: 3rem;
$row-gap: 3rem;
$icons: (
    "todo": url("../../images/icon-todo.svg"),
    "reminder": url("../../images/icon-reminders.svg"),
    "planning": url("../../images/icon-planning.svg"),
    "calendar": url("../../images/icon-calendar.svg")
);
